/* Primary */
.bg-primary {
    background-color: var(--primary);
  }

.bg-primary-100{
  background-color: #d8ebff;

}
.bg-primary-200{
   background-color: #b1d6ff;
}
.bg-primary-300{
  background-color: #89c2ff;
}
.bg-primary-400{
 background-color: #62aeff;
}
.bg-primary-500{
  background-color: #3b99ff;
}
.bg-primary-600{
  background-color: #0068d8;
}
.bg-primary-700{
  background-color: #0055b1;
}
.bg-primary-800{
  background-color: #004289;
}
.bg-primary-900{
  background-color: #002f62;
}

/* Info */
.bg-info {
background-color: var(--info);
}

/* Success */
.bg-success {
background-color: var(--success);
}

/* Warning */
.bg-warning {
background-color: var(--warning);
}

/* Danger */
.bg-danger {
background-color: var(--danger);
}

/* Dark */
.bg-dark {
background-color: var(--dark);
}

/* Secondary */
.bg-secondary {
background-color: var(--secondary);
}

/* Light */
.bg-light {
background-color: var(--light);
}
  
