/* 1. Text button (low emphasis)
Text buttons are typically used for less important actions.

2. Outlined Button (medium emphasis)
Outlined buttons are used for more emphasis than text buttons due to the stroke.

3. Contained button (high emphasis)
Contained buttons have more emphasis, as they use a color fill and shadow.

4. Toggle button
Toggle buttons group a set of actions using layout and spacing. They’re used less often than other button types. */



.btn {
    padding: 0.4em 1em;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.btn-text{
    border: none;
}

.btn-round{
    border-radius: 15px;
    border: 1px solid black;
}

.btn-oval{
    border-radius: 50%;
    border: 1px solid black;
}

.btn-icon{
    font-weight: bold;
}

.btn-icon > .icon-left{
    margin: 0 0.5em 0 -5px;
}

.btn-icon > .icon-right{
    margin: 0 0 0 0.5em;
}

.btn-close{
    border: none;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.5em;
    background: none;
    color: #252a34;
}

.btn-link{
    text-decoration: none;
    color: var(--color-contrast);
}

.btn-link:hover{
    border: 1px solid var(--color-contrast);
}

.btn-float-top{
    position: fixed;
    z-index: 3;
    top: 2em;
    right: 2em;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-float-bottom{
    position: fixed;
    z-index: 3;
    bottom: 2em;
    right: 2em;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--color-contrast);
    border: none;
    color: #eaeaea;
}

.btn-primary:hover{
    border: 1px solid #ff2e63;
}

.btn-secondary{
    border: 1px solid #ff2e63;
    color: #ff2e63;
    background-color: #eaeaea;
}

.btn-secondary:hover {
    color: #eaeaea;
    background-color: #ff2e63;
}

.btn-ternary{
    border-color: #c8c8c8;;
    color:#252a34;
}