.navigation{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.navigation .nav-links .link{
    background-color: var(--color-primary);
    border: none;
    margin: 0 1em;
    color: black;
    cursor: pointer;
    padding: 1em;
    outline: none;
}

.navigation .nav-links .link:hover{
    background-color: var(--color-secondary);
    color: var(--color-greylight)
}

.navigation .logo{
    display: flex;
}

.navigation .logo img{
    margin: 0 1em;
    width: 2em;
    height: 2em;
}

.navigation .logo .logo-text{
    font-weight: bolder;
}